body {
  font-size: 10pt;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
  margin: 4px auto;
  padding: 0 1px;
  max-width: 90ch;
  margin-top: 30px;
  -webkit-user-select: none;
  box-shadow: 10px 10px 26px #d4d4d4, -10px -10px 26px #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10vh;
}
::-webkit-scrollbar {
  display: none;
}
* {
  transition-duration: .2s;
}
input {
  outline: none;
}
#range {
  width: 100%;
}
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 70%; /* Full-width */
  height: 15px; /* Specified height */
  outline: none; /* Remove outline */
  opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 10px;
  margin: 20px 0 20px 0;
  box-shadow: 10px 10px 26px #d4d4d4, -10px -10px 26px #ffffff;
  transition-duration: .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: linear-gradient(145deg, rgba(240, 240, 240, 0.2), rgba(0, 0, 0, 0));/*#cacaca*/
  background-color: black;
  cursor: pointer; /* Cursor on hover */
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: 10px 10px 20px #d4d4d4;
  transition-duration: .05s;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: linear-gradient(145deg, rgba(240, 240, 240, 0.2), rgba(0, 0, 0, 0));/*#cacaca*/
  background-color: black;
  cursor: pointer; /* Cursor on hover */
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: 10px 10px 20px #d4d4d4;
  transition-duration: .05s;
}
.slider::-moz-range-thumb:hover {
  background: linear-gradient(145deg, rgba(0, 0, 0, 0),  rgba(255, 255, 255, 0.5));/*#e6e6e6, #ffffff*/
  background-color: black;
  height: 35px;
  box-shadow: 10px 10px 30px #d4d4d4;
}
.slider::-webkit-slider-thumb:hover {
  background: linear-gradient(145deg, rgba(0, 0, 0, 0),  rgba(255, 255, 255, 0.5));/*#e6e6e6, #ffffff*/
  background-color: black;
  height: 35px;
  box-shadow: 10px 10px 30px #d4d4d4;
}

#red {
  /*background-color: crimson;*/
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 100%);
}
#green {
  /*background-color: springgreen;*/
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,255,0,1) 100%);
}
#blue {
  /*background-color: cyan;*/
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,255,1) 100%);
}


.num {
  width: 25%;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  border: .5px solid lightgrey;
  box-shadow: 3px 3px 3px lightgrey;
  margin-bottom: 10px;
  -webkit-user-select: text;
}
#pre {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-color: black;
  box-shadow: 10px 10px 26px #d4d4d4, -10px -10px 26px #ffffff;
  border: solid 2px lightgrey;
}

#outs {
  width: 100%;
}
.outsnum {
  border: 1px solid silver;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  margin: 5px;
  box-shadow: 10px 10px 26px #d4d4d4, -10px -10px 26px #ffffff;;
}
.copy {
  height: 10pt;
  margin: 0 5px 0 10px;
  box-shadow: 10px 10px 26px #d4d4d4, -10px -10px 26px #ffffff;
}
.copy:hover {
  cursor: pointer;
}
input:disabled {
  background: white;
  border: none;
  width: 90px;
  -webkit-user-select: text;
}
#user {
  font-size: 10pt;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
  -webkit-user-select: none;
  box-shadow: 10px 10px 26px #d4d4d4, -10px -10px 26px #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20vh;

  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: center;
  background-color: rgba(220, 20, 60, 0.1);
} 
a {
  color: crimson;
}
@media only screen and (max-width: 735px) {
  #user {
    display: none;
  }
}


.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
  font-weight: bold;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.in-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgrey;
  -webkit-transition: .2s;
  transition: .2s;
}

.in-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 1px;
  bottom: 1px;
  background-color: snow;
  -webkit-transition: .2s;
  transition: .2s;
  box-shadow: 0 0 1px crimson;
}

.switch input:checked + .in-slider {
  background-color: crimson;
  opacity: 0.5;
}

.switch input:active + .in-slider {
  box-shadow: 2px 2px 10px crimson;
}

.switch input:checked + .in-slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}
.in-slider {
  border-radius: 5px;
}
.in-slider:before {
  border-radius: 5px;
}